
.labels {
    display: flex;
    justify-content: center;
}
  
.label {
    margin: 5px;
    border: 1px solid black;
    width: 100px;
}

.content_container {
    display: flex;
    justify-content: center;
}
  
.box {
    margin: 5px; /* Adjust spacing */
    border: 1px solid black;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}


#left{
   border: 3px solid red;
}

#right{
    border: 3px solid green;
}