.main {
  background-color: lightblue;
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 250px;
  transition: left 0.5s;
  background-color: white;
}

.wrapper.is-nav-open {
  left: 0;
}

.nav {
  position: relative;
  width: 100%;
  height: 100vh;
  border-right: 10px solid #ccc;
}

.nav_icon {
  position: absolute;
  top: 0;
  right: -60px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav_icon:hover {
  background-color: pink;
}

.content {
  padding-top:  84px;
  text-align: center;
}
